body {
    --scroll-gap: 30px;
  }
  /* 左に動く */
  @keyframes infiniteScrollRTL {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(
          -1 * (100% / var(--_infinite-scroll-clone-length)) - var(
              --_infinite-scroll-gap,
              var(--scroll-gap)
            ) / var(--_infinite-scroll-clone-length)
        )
      );
    }
  }  
  @keyframes infiniteScrollLTR {
    0% {
      transform: translateX(
        calc(
          -1 * (100% / var(--_infinite-scroll-clone-length)) - var(
              --_infinite-scroll-gap,
              var(--scroll-gap)
            ) / var(--_infinite-scroll-clone-length)
        )
      );
    }
    100% {
      transform: translateX(0);
    }
  }  /* end */

  .js-scrollTrack {
    width: max-content;
  
    &[data-scroll-initialized="true"][data-scroll-direction="left"] {
      animation: infiniteScrollRTL var(--_infinite-scroll-duration) linear
        infinite;
    }
    &[data-scroll-initialized="true"][data-scroll-direction="right"] {
      animation: infiniteScrollLTR var(--_infinite-scroll-duration) linear
        infinite;
    }
    &[data-scroll-pause-on-hover="true"]:hover {
      animation-play-state: paused;
    }
  }
  .js-scrollTrack2 {
    width: max-content;
  
    &[data-scroll-initialized="true"][data-scroll-direction="left"] {
      animation: infiniteScrollRTL var(--_infinite-scroll-duration) linear
        infinite;
    }
    &[data-scroll-initialized="true"][data-scroll-direction="right"] {
      animation: infiniteScrollLTR var(--_infinite-scroll-duration) linear
        infinite;
    }
    &[data-scroll-pause-on-hover="true"]:hover {
      animation-play-state: paused;
    }
  }

  .js-scrollList {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 var(--_infinite-scroll-gap, var(--scroll-gap));
  }
  
  .js-scrollCont {
    flex-shrink: 0;
  }
  
  .scroll_wrap {
    height: 40%;
    /* margin-block-start: 20vh; */
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
    
  }
  .scroll_cont {
    height: 100%;
    width: 600px;
    display: grid;
    /* place-content: center;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    color: white;
    font-size: 1.375rem;
    font-weight: bold; */
}
.scroll_cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}