/* color */
:root {
    --primary-color: #0b152e;
    --secondary-color: #82b2ae;
    --accent-color: #223447;
    }

  /* all */
*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation-timing-function: ease;
    cursor: url("img/通常の選択.cur") , auto;
}
::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
body{
    font-size: 16px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

main{
    background: var(--primary-color);
    flex: 1;
    animation-timing-function: ease;

}
a {
    text-decoration: none; /* 下線を消す */
    color: inherit; /* 親要素の色を継承 */
    cursor: url("img/リンクの選択.cur") , auto;
}


a:hover {
    color: inherit; /* ホバー時も色を変えない */
}

.title{
    font-family: "Kaisei Tokumin", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    text-align: right;
    /* opacity: 0; */
    /* animation-timing-function: ease; */
    margin-bottom: 20px;
}
.titleIn{
    animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* #title3{
    width: 100vw;
} */
/* .title{
    font-family: "Kaisei Tokumin", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    position: fixed;
    display: grid;
    place-items: center;
    width: 155px;
    height: 100vh;
    border-right: 1px solid var(--accent-color);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 9999;
} */
.reference{
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    right: 10px;
    margin-right: 10px;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px var(--secondary-color);
    cursor: url("img/リンクの選択.cur") , auto;
    z-index: 9999;
}
/* header */
header{
    font-family: "Kaisei Tokumin", serif;
    font-weight: 500;
    font-style: normal;
    display: grid;
    place-items: center;
    height: 155px;
    background: var(--primary-color);
}
/* ハンバーガーメニュー */
#menu-button{
    z-index: 9999;
    height: 80px;
    position: fixed;
    left: 20px;
    background: var(--primary-color);
    border-radius: 10px;
    top: 20px;
    transition: all 0.3s ease-out;
}
#menu-button.active{
    background: var(--secondary-color);
}
#menu-button svg{
    height: 100%;
    width: 100%;
    fill: var(--secondary-color);
}
#menu-button.active svg{
    fill: var(--primary-color);
}
.line1 , .line2 , .line3 , .close{
    transform-origin: center;
    transition: all 0.3s ease-out;
}
#menu-button:not(.active) .close {
    opacity: 0;
    scale: 0;
}
#menu-button:not(.active):hover .line2{
    transform: scaleX(0);
}
#menu-button:hover .line1{
    transform: translateY(-80px);
}
#menu-button:hover .line3{
    transform: translateY(80px);
}
#menu-button.active .line1,
#menu-button.active .line2,
#menu-button.active .line3{
    opacity: 0;
    transform: scaleX(0);
}
#menu-button.active .close{
    opacity: 1;
    transform: scale(1);
}
#menu-button:hover {
    transform: scale(0.9);
}
#shadow{
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: transform 0.3s ease;
    animation-timing-function: ease;
    background: var(--secondary-color);
}
#shadow.active{
    display: block;
    opacity: 0.5;
}

.icon{
    font-size: 80px;
    float: left;
}
.menuBer {
    display: flex;
    padding-left: 155px;
    transition: transform 0.3s ease;
}
#sideMenu {
    background: var(--secondary-color);
    color: var(--primary-color);
    z-index: 999;
    position: fixed;
    top: 0 ;
    left: 0;
    padding: 155px 20px 0 20px;
    height: 100vh;
    transition: transform 0.3s ease;
    animation-timing-function: ease;
    padding-right: 100px;
    width: 400px;
}
#sideMenu:not(.active){
    animation: menuOff 0.5s forwards;
}
#sideMenu.active{
    animation: menuOn 0.5s forwards;
}

@keyframes menuOff {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes menuOn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
#sideMenu li, td{
    font-size: 3rem;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    width: auto;

}
#sideMenu li:hover{
    opacity: 0.5;
    transform: scale(0.9);
}
#sideMenu td:hover{
    opacity: 0.5;
    transform: scale(0.9);
}

/* contents */
.link table{
    margin: 0 auto;
    width: 100%;
}
.link td{
    text-align: center;
    height: 30px;
    img{
        height: 100%;
        filter: brightness(0) saturate(100%) invert(69%) sepia(8%) saturate(1045%) hue-rotate(126deg) brightness(97%) contrast(87%);
    }
}

/* footer */
footer{
    border-top: 1px solid var(--secondary-color);
    height: 400px;
}
.warning{
    font-size: 3rem;
    text-align: center;
}






/* about */
#about{
    margin: 0 155px;
}
.mission{
    height: 1600px;
}
.mt{
    font-size: 2rem;
    display: block;
    line-height: 1;
}
.mh1{
    font-size: 6rem;
    letter-spacing: .01em;
    line-height: 1;
}
.mp{
    margin-top: 80px;
    margin-bottom: 100px;
    line-height: 2.3;
    font-size: 2.3rem;
}
#background-text.active{
    position: fixed;
    bottom: calc(258px - 200px);
}
#background-text:not(.active){
    position: absolute ;
    top: 1080px;
}
.background-text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -12px;
    left: 0;
    white-space: nowrap;
    font-size: 30rem;
    transition: transform 0.1s;
    z-index: 1;
    color: var(--secondary-color);
    opacity: 0.2;
}


/* special-thanks */

.special-thanks{
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px 150px;
    /* transform: translateY(-50px); */
}
.member{
    width: 300px;
    height: 400px;
    img{
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
    }
}
.member:hover .icon{
    transform: scale(1.1);
}
.ss-img{
    width: 300px;
    height: 300px;
    overflow: hidden;

}
.item{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.name{
    font-size: 30px;
}
.design{
    font-size: 18px;
    text-align: right;
}
.sns-link li{
    height: 30px;
}
.sns-link img{
    height: 100%;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(69%) sepia(8%) saturate(1045%) hue-rotate(126deg) brightness(97%) contrast(87%);}



/* 404 */
.container {

    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
    line-height: 1.6;

    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    h1 {
        font-size: 36px;
        color: #e74c3c;
    }
    p {
        font-size: 18px;
    }
    a {
        color: #3498db;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}


/* auto slider ベース設定 */
.js-auto-slider-wrap {
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%);
}
  .js-auto-slider {
    display: flex;
  }
  .js-auto-slider-elm {
    overflow: hidden;
    position: relative;
      z-index: 1;
    flex-shrink: 0;
  }
  .js-auto-slider-img {
    position: absolute;
    top: 0;
    left: 0;
      /* right: -45%; */
    bottom: 0;
  }
  .js-auto-slider-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 360px;
    width: 640px;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  
  
  /* auto slider 表示エリア */
  .js-auto-slider-inner {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  /* auto slider スライド要素 */
  .js-auto-slider-elm {
    height: 360px;
    width: 640px;
    margin-right: 2vw;
    margin-bottom: 4vh;
    border-radius: 3.3vw;
  }
